/* general */
* {
  margin: 0;
  padding: 0;
}

html {
	background-color: LightGoldenRodYellow;
}

/* /general */
/* header */

header {
	background-image: url("../images/indexheader.jpg");
	background-size: cover;
	text-align: center;
	width: 100%;
	height: 170px;
	position: fixed;
	z-index: 2;
}

header h1 {
	color: saddlebrown;
	font-size: 60px;
	font-family: "Indie Flower", sans-sarif;
	margin: 0;
	font-weight: bold;
}

header h2 {
	font-size: 39px;
	font-family: "sue ellen francisco", sans-sarif;
	margin: 0;
	line-height: 1;
	color: LightGoldenRodYellow;
}


nav ul{
	text-align: left;
	padding: 10px;
	margin-left: 15px;
}

nav ul li {
	display: inline;
	font-size: 16px;
	font-weight: bold;
	padding: 0 10px;
	margin: 0 5px;
	border: 1px solid peru;
	border-radius: 5px;
	background-color: LightGoldenRodYellow;
	transition: background-color, color;
}

nav ul li:hover {
	background-color: peru;
}


nav ul li a {
		color: peru;
		text-decoration: none;
		transition: color;
}

nav ul li a:hover {
		color: white;
}
/* /header */


main {
	position: relative;
	top: 190px;
	z-index: 1;
}

/* intro */
.intro {
	margin: 5px 20px 50px 20px;
}

.intro h3 {
	font-size: 30px;
	font-family: "sue ellen francisco", sans-sarif;
	color: black;
	line-height: 1;
}

/* intro */

/*description */

.description {
	margin: 20px;
}

.description h4{
	font-family: itim, sans-sarif;
	font-size: 25px;
	line-height: 1.5;
}

p {
	font-family: optima, sans-sarif;
	font-size: 17px;
	line-height: 2;
	margin-left: 10px;
}

li {
	font-family: optima, sans-sarif;
	font-size: 17px;
	line-height: 2;
	margin-left: 70px;
}

/* /description */


/* figures */

figure img{
	display: block;
	margin: 0 auto;
	height: auto;
}

figcaption {
	text-align: center;
	font-family: "Indie Flower", sans-sarif;
	font-weight: bold;
}

figure#beach img {
	width:750px;
}

figure#coding img {
	width:750px;
}


/* /figures */


/* affiancto */
.fianco {
	display: inline-flex;
	align-items: flex-start;
}

p.lato {
	border: 2px dashed peru;
	padding: 15px;
}

@media only screen and (max-width: 1000px) {
	.fianco {
		flex-wrap: wrap-reverse;
	}
}

h5 {
	font-family: optima, sans-sarif;	
	font-weight: bold;
}

.fianco ol {
	display: inline-flex;
}

.punto {
	color: darkmagenta;
	font-weight: bold;
}


/* /affiancto */


/* footer */

footer {
	background-color: lightsteelblue;
	position: relative;
	top: 190px;
}

footer p {
	margin: 20px 20px;
}

footer i {
	margin-left: 20px;
}

p.footnote {
	font-size: 14px;
	line-height: 1;
}

#sponsor {
	margin: 0 0 0 300px;
}

#sponsor img {
	width: 60px;
	margin: 0 auto;
	position: relative;
	bottom: 24px;
	left: 38px;
}

strong.principle {
	color: red;
}

/* footer */


/* video */

iframe{
	margin: 0;
	padding: 0;
	min-width: 750px;
	min-height: 400px;
}
/* video */



/* text decoration */

.barrato {
	text-decoration: line-through;
}